@import url(./normalize.css);
@import url(./_global.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* common */

html {
  height: 100%; /*для футера*/
  flex-direction: column;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  color: var(--text-dark, #403f3d);
  box-sizing: border-box;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* blocks */

.container {
  max-width: 1390px; /* 1440?*/
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  /* padding-bottom: 20px; */
  display: flex;
  padding-top: 20px; /*для отступа навигации */
}

.header_nav {
  margin: 0 auto;
  font-weight: 600;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header_menu {
  color: #403f3d;
  width: 1188px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header_menu ul {
  display: flex;
}

.coffee_li {
  width: 157px;
}

/* .coffee_li:after {

}  */

.coffee_li::hover:after,
.coffee_li::focus:after {
	width: 100%; 
} 

.about_li {
  width: 48px;
  margin-right: 40px;
}

.app_li {
  width: 86px;
  margin-right: 40px;
}

.contact_li {
  width: 85px;
}

.menu_logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_menu a:hover {
  color: #000000; /*временно*/
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.header_menu a {
  transition: color 0.2s ease;
  
}

.logo {
  height: 60px;
  width: 100px;
}

/* enjoy block */

.hero_inner_text {
  color: #b0907a;
  font-style: italic;
}

.hero_container {
  background-image: url(../img/img-hero.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.offer_text {
  padding-bottom: 41px;
  color: #e1d4c9;
}

.offer_h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 75px;
}

.offer_p {
  font-size: 16px;
  line-height: 24px;
}

.hero_offer {
  max-width: 630px;
  padding: 101px 0 100px 100px;
}

.offer_btn {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #e1d4c9;
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  transition: 0.4s all;
}

.favorite__coffee {
  color: #403f3d;
}

.favorite__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite__title--block {
  padding-top: 100px; 
} 

.favorite__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}

.inner_text {
  color: var(--text-accent, #B0907A);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.favorite__description {
  padding-top: 17px;
}

.favorite__controls {
  padding-top: 40px; 
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.controls__bullet {
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  cursor: pointer;
}

/* .controls__bullet:nth-child(2) {
  margin: 0 12px;
}  */

.controls__bullet--active {
  background-color: #665f55;
}
.controls__bullet--inactive {
  background-color: #c1b6ad;
}

.favorite__container__slider {
  padding-top: 39px;
}

.slider_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 1px solid #665f55;
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}

.slider__button--left {
  left: 4px;
}
.slider__button--right {
  right: 3px;
}

.slider__cards {
  max-width: 480px;
}

.slider__descrip {
  margin-top: 16px;
  text-align: center;
  color: #403f3d;
}

.slider__descrip__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}


.slider__descrip__text {
  line-height: 24px;
  margin-top: 16px;
}

.slider_price {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.header_content {
  /* background-color: aliceblue; */
  width: 530px;
  height: 444px;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

/* .header_content_2 {
    margin-left: 100px;
    background-color: beige; 
} */
/* 
.header_h1_block {
    /* background-color: black; */
/* margin-top: 40px;  
} */

.enjoy {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-1.accent */
  font-family: Inter;
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
}

.header_home {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-1 */
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

.menu_button_1 {
  display: flex;
  /* padding: 20px 78px; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
  width: 200px;
  height: 64px;
  /* margin-top: 40px; */
}

/* .header_text_block {
    background-color: aquamarine; 
} */

.menu_button {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.header_text {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/*choose block*/

.choose_container {
  width: 1360px; /* 1440?*/
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  align-items: center;
  border-radius: 40px;
  margin: 0 auto;
}

.coffee_slider {
  display: grid;
  margin-bottom: 20px;
  width: 480px;
  height: 480px;
}

.favorite_coffee {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  /* font-weight: 600; */
  line-height: 125%; /* 75px */
  height: 75px;
  margin-top: 100px;
}

.favorite {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  /* font-weight: 600; */
  line-height: 125%;
}

.slider_1 {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.slider_2 {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

/* .favorite_description {
  width: 1360px; /* 1440?
  padding-left: 40px;
  padding-right: 40px;
  /* position: relative;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  column-gap: 100px;
  align-items: center;
  border-radius: 40px;
  margin: 0 auto;
} */

.slider__descrip__title {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-bottom: 16px;
}

.slider__descrip__text {
  width: 480px;
  height: 48px;
  align-self: stretch;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Body/medium */
  font-size: 16px;
  font-weight: lighter;
  /* font-style: normal;
    font-weight: normal; */
  line-height: 150%; /* 24px */
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.slider__descrip__price {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  /* margin-bottom: 40px; */
}

.favorite__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* padding-bottom: 15px; */
}

/* 
.about_text_container {
  background-color: red;
}

.about_container {
  width: 1360px; 
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: center;
  align-items: center;
} */

.about_text {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px; 
} 

.theperfect_place {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.about_text_container {
  /* width: 1440px;  */
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.about_container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 750px 1fr;
  height: 1060px;
  margin-bottom: 100px;
}

.img_about1 {
  width: 660px;
  height: 590px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.img_about2 {
  width: 660px;
  height: 590px;
  margin-left: 40px;
}

.img_about3 {
  width: 100%;
  height: 430px;
  margin: 0;
  overflow: hidden; 
  min-width: 600px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-position-x: 25%;
  background-position-y: 25%;  
}

.img_about4 {
  width: 660px;
  height: 590px;
  margin-right: 40px;
}

.img_about_1,
.img_about_2,
.img_about_3,
.img_about_4 {
  border-radius: 20px;
  transition: 1s ease;
}

.img_about_1:hover {
  transform: scale(0.9);
}

.img_about_2:hover {
  transform: scale(0.9);
}

.img_about_3:hover {
  transform: scale(0.9);
}

.img_about_4:hover {
  transform: scale(0.9);
}

/* download block */

.offer {
  width: 1360px; /* 1440?*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}

.offer_download {
  width: 630px;
  /* height: 630px;  */
  margin-right: 100px;
  padding-bottom: 40px;
}

.text_download {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 40px;
  margin-top: 47px; 
}

.download {
  margin-top: 37px; 
}

.buttons {
  margin-top: 40px;
  display: flex;
}

.button_app_store {
  margin-right: 20px;
}

.d_download {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.download_h2 {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.offer_mobilescreens {
  width: 630px;
  height: 630px;
}

/* footer */

.footer {
  background-color: #665f55;
  display: grid;
  grid-template-columns: 630px 1fr;
  width: 1360px; /* 1440?*/
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; 
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

/* .hidden {
  opacity: 0;
} */

.contacts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.button_app_store, .button_google_play {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55); 
}

.appstore_text, .googleplay_text {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/caption */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.appstore_img, .googleplay_img {
  margin-right: 8px; 
}

.appstore_title, .googleplay_title {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-top: 2px; 
}

.text_contacts {
  margin-left: 100px;
  margin-bottom: 40px;
}

.sip_savor {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.coffee_time {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.social_links {
  display: flex;
  margin-left: 100px;
}

.twitter_link {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
  margin-right: 12px;
}

.insta_link {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
  margin-right: 12px;
}

.facebook_link {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
}

.contacts2 {
  /* height: 250px; */
  display: flex;
  /* align-content: flex-end; */
  flex-direction: column;
  /* align-content: center; */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  /* padding-bottom: 32px; */
  margin-left: 100px;
  padding-bottom: 10px; 
}

.contact_us {
  margin-bottom: 40px;
}

.text_contacts2 {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.contact_links {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding-top: 3px; 
}

.address,
.phone {
  margin-bottom: 16px;
}

.addres,
.phone,
.schedule {
  display: flex;
  align-items: center;
  gap: 4px;
}

.offer_menu_container {
  width: 1360px; 
  height: 236px;
  display: grid; 
  grid-template-columns: 300px 1fr;
}

.offer_menu {
  width: 800px; 
  margin-left: auto;
  margin-right: auto; 
  display: block;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.offer_menu_text {
  /* width: 1360px;  */
  display: flex;
  /* margin-left: 40px;
  margin-right: 40px;  */
  justify-content: center;
  text-align: center; 
  /* margin-left: 21px;  */
}

/* .offer_menu_h1 {
  background-color: #665f55;
} */

.offer_behind {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.offer_amazing {
  color: var(--text-accent, #B0907A);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.offer_menu_variants {
  display: block;
}

.offer_menu_choice {
  display: flex;
  justify-content: center; 
  margin-top: 43px;
  margin-bottom: 40px;
}

.coffee_offer {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #665F55);
}

.coffee_offer_text {
  color: var(--text-light, #E1D4C9);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding-right: 8px;
}

.tea_offer {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.tea_offer_text {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  /* margin-left: 8px; */
}

.dessert_offer {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.dessert_offer_text {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-left: 8px;
}

.coffee_offer_border, .tea_offer_border,.dessert_offer_border {
  display: flex;
  padding: 4px; 
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
}

.menu_available {
  display: grid; 
  grid-template-columns: 310px 310px 310px 310px;  
  /* margin: 40px;  */
  justify-content: space-between;
  width: 1360px; 
}

.offer_1_img, .offer_2_img, .offer_3_img, .offer_4_img,
.offer_5_img, .offer_6_img, .offer_7_img, .offer_8_img {
  height: 330px;
  transition: 1s ease;
  /* width: 340px;  */
  /* margin-bottom: 20px; */
}

.offer_1_img:hover {
  transform: scale(0.9);
}

.offer_2_img:hover {
  transform: scale(0.9);
}

.offer_3_img:hover {
transform: scale(0.9);
}

.offer_4_img:hover {
  transform: scale(0.9);
}

.offer_5_img:hover {
  transform: scale(0.9);
}

.offer_6_img:hover {
  transform: scale(0.9);
}

.offer_7_img:hover {
  transform: scale(0.9);
}

.offer_8_img:hover {
  transform: scale(0.9);
}

.offer_1, .offer_2, .offer_3, .offer_4, .offer_5, .offer_6, .offer_7, .offer_8 {
  /* background-color: beige; */
  border-radius: 40px;
  border: 1px solid var(--border-light, #C1B6AD);
}  

.offer_1, .offer_2, .offer_3, .offer_4 {
  margin-bottom: 40px; 
}

.offer_5, .offer_6, .offer_7, .offer_8 {
  margin-bottom: 40px; 
}

.offer_1_picture, .offer_2_picture, .offer_3_picture, .offer_4_picture, 
.offer_5_picture, .offer_6_picture, .offer_7_picture, .offer_8_picture {
  border-radius: 40px;
  border: 1px solid var(--border-light, #C1B6AD);
}

.offer_1_title,
.offer_2_title,
.offer_3_title,
.offer_4_title,
.offer_5_title,
.offer_6_title,
.offer_7_title,
.offer_8_title {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  /* margin-bottom: 12px;  */
  margin-left: 20px; 
  margin-top: 20px; 
  padding-bottom: 20px; 
  width: 270px;
  height: 30px; 
}

.offer_1_description, .offer_2_description, .offer_3_description, .offer_4_description,
.offer_5_description, .offer_6_description, .offer_7_description, .offer_8_description {
  display: flex; 
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  /* margin: 20px;  */
  margin-right: 20px;
  margin-left: 20px; 
  width: 270px;
  height: 69px; 
}

.offer_1_price, .offer_2_price, .offer_3_price, .offer_4_price, 
.offer_5_price, .offer_6_price, .offer_7_price, .offer_8_price {
  display: flex; 
  margin: 20px; 
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}